<div class="page">

  <main class="flex column gap-small">

    <article class="biography">
      <header class="biography-header">
        <div class="primary text-gradient bio-name">Emrys Corbin</div>
        <div class="bio-pronouns">(He/They)</div>
      </header>

      <section class="biography-body">
        <markdown [data]="getContentBody(content(), 'main')" markdown></markdown>
      </section>
    </article>

    <div class="flex gap-small center selectable-button-row">
      @for (section of sections; track section.id) {
        <button mat-flat-button class="selectable-button" [ngClass]="{'selected' : section.id === selection()}" (click)="makeSelection(section.id)">{{ section.title }}</button>
      }
    </div>


    @switch (selection()) {
      @case ('books') { <app-bio-books/> }
      @case ('drinks') { <app-bio-drinks/> }
      @case ('engineer') { <app-bio-engineer/> }
      @case ('fashion') { <app-bio-fashion/> }
      @case ('food') { <app-bio-food/> }
      @case ('games') { <app-bio-games/> }
      @case ('music') { <app-bio-music/> }
      @default {
        <div class="no-matches">

        </div>
      }
    }
  </main>
</div>
