<div class="page">

  <div class="project-container">
    <div class="toolbar">
      <h2 class="fill">Project Gallery</h2>
      <!--      <ui-search (searchSubmitted)="updateTerm($event)"></ui-search>-->
    </div>
    <div class="sidebar">
      <div class="sidebar-segment">
        <div class="sidebar-segment-heading">
          <span class="heading">Platform</span>
        </div>
        <div class="content">
          <mat-chip-listbox #platformList class="mat-mdc-chip-set-stacked" multiple>
            @for (option of platformOptions; track option.id){
              <mat-chip-option
                id="{{option.id}}"
                (selectionChange)="selectPlatforms(option.id)"
                >{{option.label}}
              </mat-chip-option>
            }
          </mat-chip-listbox>
        </div>
      </div>
      <div class="sidebar-segment">
        <div class="sidebar-segment-heading">
          <span class="heading">Category</span>
        </div>
        <div class="content">
          <mat-chip-listbox #groupList class="mat-mdc-chip-set-stacked" multiple>
            @for (option of categoryOptions; track option.id){
              <mat-chip-option
                id="{{option.id}}"
                (selectionChange)="selectCategories(option.id)"
                >{{option.label}}
              </mat-chip-option>
            }
          </mat-chip-listbox>
        </div>
      </div>
    </div>
    @if (project$ | async; as projects) {
      <div class="project-list">
        @for (project of filteredProjects; track project.name) {
          <app-project-card [project]="project"></app-project-card>
          } @empty {
          <div class="no-matches">
            <p>No matches with these filters</p>
            <button mat-raised-button (click)="resetFilters()">Reset Filters</button>
          </div>
        }
      </div>
    }

  </div>

</div>
