<mat-toolbar class="noprint siteNav">
  <img class="banner-decor" src="assets/stripesAlt.svg" alt="A series of gradient stripes to make the header less boring">
  <img class="logo" src="assets/identMono.svg" alt="A series of gradient stripes to make the header less boring">
  <button mat-button routerLink="" class="nav-button">Home</button>
  <button mat-button routerLink="/blog" class="nav-button">Blog</button>
  <button mat-button routerLink="/projects" class="nav-button">Projects</button>
  <button mat-button routerLink="/bio" class="nav-button">Bio</button>

  @if (this.isAdmin()) {
    <button mat-button routerLink="/admin" class="nav-button">Admin</button>
  }
  <div class="fill"></div>

  <button mat-icon-button [matMenuTriggerFor]="menu"
          class="noprint menu-button" aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" >
    <button mat-menu-item routerLink="" >Home</button>
    <button mat-menu-item routerLink="/blog" >Blog</button>
    <button mat-menu-item routerLink="/projects">Projects</button>
    <button mat-menu-item routerLink="/bio">Bio</button>

    @if (this.isAdmin()) {
      <button mat-menu-item routerLink="/admin">Admin</button>
    }
  </mat-menu>


</mat-toolbar>
