<article class="skill-dialog card">
  <header class="skill-dialog-header">
    <h2 class="text-gradient fill">{{ skill().name }}</h2>

    @if (skill().isFeatured) {
      <ui-tag text="Featured Skill" type="featured skill"></ui-tag>
    }

  </header>

  <section class="skill-dialog-body">
    <div class="flex progress row">
      <div class="cell pusher">
        <progress max="100" [value]="skill().level"></progress>
      </div>
    </div>

    <div class="skill-data flex divided">
      <div class="cell">
        <div class="label">Proficiency:</div>
        <div class="data">{{ skill().level | levelToName }}</div>
      </div>

      @if (skill().acquired) {
        <div class="cell">
          <div class="label">Acquired:</div>
          <div class="data">{{ skill().acquired | date : 'yyyy' }}</div>
        </div>
      }

<!--      @if (skill().proficiency) {-->
<!--        <div class="cell">-->
<!--          <span class="label">Active Experience:</span>-->
<!--          <span class="data">{{ skill().proficiency }} Years</span>-->
<!--        </div>-->
<!--      }-->
    </div>

    @if (isBlockContent()) {
      <div class="notes">
        <ui-blocks [content]="blockContent()" />
      </div>
    } @else if (notesString()) {
      <div class="notes" [innerHTML]="notesString()" markdown></div>
    }

    <div class="skill-actions">
      @if (skill().link) {
        <a mat-raised-button color="primary" [href]="skill().link" target="_blank">Product Website</a>
      }
    </div>

    <h3>Projects</h3>
    <div class="projects-list-box">

        <div class="projects-list flex column gap-small" [@FadeInList]="projects().length">
          @for (project of projects(); track project.uri) {
            <div class="project flex row {{project.category}}" (click)="goToProject(project.uri)">
              <div class="name pusher">{{ project.name }}</div>
              <div class="button"><i class="fa-solid fa-arrow-right-to-bracket"></i></div>
            </div>
          } @empty {
            <ui-spinner
              [timeout]="5000"
              message="No Related Projects"
            ></ui-spinner>
          }
        </div>

    </div>


  </section>

</article>
