
<div class="page">

  <div class="flex-row bottom-padded">
    <button mat-stroked-button uiGoBack>Back</button>
    <div class="fill"></div>
    @if (project().link) {
      <a mat-stroked-button color="warn" [href]="project().link" target="_blank">Visit</a>
    }
  </div>

  @if (project().name != ""){
    <article class="project card">
      <header class="project-header {{project().category}}">
        <h1 class="title pusher">{{project().name}}</h1>
        <div class="date">
          @if(project().isCurrent) {
            Current
          } @else {
            {{project().startDate | date: 'MMM yyyy'}}
            @if (project().startDate && project().endDate) {
              <span> - </span>
            }
            {{project().endDate | date: 'MMM yyyy'}}
          }
        </div>
      </header>

      <section class="project-body">
        @if (project().content) {
          <ui-blocks [content]="project().content" />
        } @else if (project().details) {
          <markdown [data]="project().details"></markdown>
        }

        <h2>Skills & Technology</h2>
        <div class="cutout">
          <div class="tag-container" [@FadeInList]="skills().length">
            @for (skill of skills(); track skill._id) {
              <ui-tag type="skill" [text]="skill.name" (click)="viewSkill(skill._id)"></ui-tag>
            }
          </div>
        </div>
      </section>

      <footer class="project-footer">
<!--        <div class="meta-row">-->
<!--          <div class="meta-item">-->
<!--            <div class="meta-label">Posted: </div>-->
<!--            <div class="meta-data">{{ project.xata.createdAt | date : "dd.MM.yyy"}}</div>-->
<!--          </div>-->
<!--          <div class="meta-item">-->
<!--            <div class="meta-label">Updated: </div>-->
<!--            <div class="meta-data">{{ project.xata.updatedAt | date : "dd.MM.yyy"}}</div>-->
<!--          </div>-->
<!--        </div>-->
      </footer>

    </article>

  } @else {
    <div class="segment">
      <h1>Whoops</h1>
      <p>There does not seem to be a project by this name or url</p>
    </div>
  }

</div>
